name: Generate Sitemap

permissions:
  contents: write

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Generate sitemap
        uses: cicirello/generate-sitemap@v1
        with:
          base-url-path: "https://arabicnlp.uk"
          include-html: true
          path-to-root: "."

      - name: Commit sitemap
        uses: EndBug/add-and-commit@v9
        with:
          author_name: "github-actions"
          author_email: "actions@github.com"
          message: "Auto-update sitemap.xml"
          add: "sitemap.xml"